.header {
  width: 60vw;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.header-title {
  margin-top: 7rem;
  margin-bottom: 4rem;
}

.header-title h1 {
  font-weight: 700;
  font-size: 48px;
  background: linear-gradient(180deg, #b0fbbc 0%, #82f9a1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  text-shadow: 0px 0px 76px rgba(188, 251, 195, 0.3);
}
.header-discribe p {
  font-weight: 500;
  font-size: 18px;
  color: #ecf8ff;
}
.header-socials {
  margin-top: 2rem;
  color: #ecf8ff;
}
.socialBtn {
  padding: 0.2rem 1rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-right: 1rem;
}
.socialIcon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

.twitter {
  background-color: #1da1f2;
}

.gitHub {
  background-color: #ecf8ff;
  color: #000;
}

@media screen and (max-width: 480px) {
  .header {
    width: 80vw;
  }
  .header-title {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .header-title h1 {
    font-size: 2.4rem ;
  }
  .header-discribe p {
    font-size: 1.4rem;
  }
}
